<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body>
        <div class="max-w-4xl mx-auto px-10 mt-6">
            {% for message in app.flashes('success') %}
                <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded-lg relative mb-4 shadow-sm" role="alert">
                    <strong class="font-bold">Success!</strong>
                    <span class="block sm:inline">{{ message }}</span>
                </div>
            {% endfor %}
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
